*{
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Orbitron', sans-serif;
    --main-color: #fb923c;
    --main-background-color-light: #fff7ed;
    --modal-background : #fff7ed;
    --main-background: #fdba74;
    --text-color: #ffedd5;
    --background-main:  linear-gradient(171deg, rgba(78,78,88,1) 13%, rgba(161,152,137,1) 49%, rgba(78,78,88,1) 88%, rgba(161,152,137,1) 97%)
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color-light);
    height: 100vh;
    width: 100vw;
    background: var(--background-main);
}

.upper-space {  
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.title, .game-state {
    color: var(--text-color);
    text-shadow: 2px 2px 2px black;
}



.middle-modal  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh ;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 21vw;
    height: auto; 
    background-color:var(--main-color);
    grid-area: 2/2/3/3;
}

.playerOne-modal,.playerTwo-modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1vw;
    font-size: 1.5em;
    background-color: var(--main-color);
    gap: 2vh;
    justify-content: center;
}

.playerOne-modal {
    border-right: none;
    grid-area: 2/1/3/2;
    border-left: 2px solid black;
}

.playerTwo-modal {
    border-left: none;
    grid-area: 2/3/3/4;
    border-right: 2px solid black;
}

.player-one-display, .player-two-display {    
    
    color: var(--text-color);
    align-self: center;
    cursor:default;
    text-shadow: 0px  3.5px black;
    text-align: center;
}

h3, h2 {
    color: var(--text-color);
    cursor:default;
    text-shadow: 0px 2px 1px black;
}



.game-board button {
    display: flex;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    font-size: 4em;
    filter: drop-shadow(0px 2px 10px black);
}

.top-left {
    border-top-left-radius: 40px;
    border: none;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.top-mid {
    border: none;
    border-bottom: 3px solid black;
}

.top-right {
    border: none;
    border-top-right-radius: 40px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.mid-left {
    border: none;
    border-right: 3px solid black;
}

.mid-mid {
    border: none;
}
.mid-right {
    border: none;
    border-left: 3px solid black;
}

.bottom-left {
    border: none;
    border-bottom-left-radius: 40px;
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.bottom-mid {
    border: none;
    border-top: 3px solid black;
}

.bottom-right {
    border: none;
    border-bottom-right-radius: 40px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.bottom-modal {
    grid-column: 1/4;
    background-color: var(--main-color);
    padding: 4vh;
    border: 2px solid black;
    border-top: none;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}




.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 19, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
   position: relative;
   border-radius: 4px;
   padding: 2vw;
   display: flex;
   flex-direction: column;
   gap: 3vh;
   border: 1px solid black;
   border-radius: 30px;
   background: linear-gradient(171deg, rgba(78,78,88,1) 13%, rgba(161,152,137,1) 49%, rgba(78,78,88,1) 88%, rgba(161,152,137,1) 97%);
}

.gameOne , .gameTwo, .restart{
    padding: 0.5vw;
    border-radius: 20px;
    text-shadow: 0px 2px 2px black;
    font-weight: bold;
    transition: all 0.5s;
    position: relative; 
}

.gameOne::before,
.gameTwo::before,
.restart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(10, 10, 9, 0.1);
    transition: all 0.3s;
  }

  .gameOne:hover::before,
  .gameTwo:hover::before,
  .restart:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }

  .gameOne::after,
  .gameTwo::after,
  .restart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgba(10, 10, 9, 0.1);
    transform: scale(1.2,1.2);
  }
  .gameOne:hover::after,
  .gameTwo:hover::after,
  .restart:hover::after  {
    opacity: 1;
    transform: scale(1,1);
  }

.gameOne ,.gameTwo,.restart{
    padding: 2vh;
    color: orange;
    letter-spacing: 2px;
    font-size: large;
    border: none;
    cursor:default;
    text-shadow: 0px 2px 1px black;
    font-weight: bold;
    transition: all 0.5s;
    position: relative; 
}

.restart {
    color: white;
}

input {
    padding: 0.4vh;
    background-color: orange;
    color: gray;
    font-size: 0.9em;
    font-weight: 900;
}

footer {
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  1vw;
    font-size: clamp(2.5vh,2.5vh,2.5vh);
    background-color: var(--modals-color);
    color: white
}


img {
    height: 4vh;
    transition: 600ms;
}

img:hover {
    transform: rotate(720deg)  scale(1.08) ;
    filter: drop-shadow(0px 0.3vh 0px #ddd)
}   






